/* Header */

.Header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #140f24;
    border-bottom: 3px solid #FFC500;
    padding: 5px;
}

/* Estilo logo e gif-darthVader */

.container-logo{
    display: flex;
    align-items: center;
}

.logo-starWars{
    max-width: 150px;
    margin-left: 40px;
}

.estrela{
    transition: 1.5s;
}

.estrela:hover{
    transform: rotate(360deg)
}

/* Menu-itens */

.menu-itens li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #FFC500;
    color: black;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
}

.menu-itens li:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
}

/* Responsividade */

@media (max-width: 750px){
    .Header{
        display: grid;
        justify-content: center;
    }

    .container-logo{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .menu-itens{
        margin-bottom: 20px;
    }

    .menu-itens li{
        display: grid;
        text-align: center;
    }
}